/* Desktop */

@media (min-width: 768px) {
.features {
				display: grid;
				grid-template-columns: repeat(3,1fr);
				grid-auto-rows: auto;
				margin-bottom: 10px;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
				position: relative;
}

.tabcontent {
  padding: 20px 40px 0 40px;
}

.social {
				padding: 10px 20%;
				text-align: center;
}

.banner {
				height: 25em;
}

}


/* tablets */

@media (min-width: 576px) and (max-width: 767px) {
.features {
				display: grid;
				grid-template-columns: repeat(3,1fr);
				grid-auto-rows: auto;
				margin-bottom: 10px;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
				position: relative;
}

.tabcontent {
  padding: 20px 20px 0 20px;
}

.social {
				padding: 10px 20%;
				text-align: center;
}

.banner {
				height: 20em;
}

}
